<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215513374627-d01q223rs7hd4qkdjvus5rgsubpfisul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215513374627-d01q223rs7hd4qkdjvus5rgsubpfisul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215513374627-ugfl0k2g2fn44eab56v5nb3uvqt6qoto.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCN-bLNP34bkC4IqUmcSYwPjAJJkY2BNUM</string>
	<key>GCM_SENDER_ID</key>
	<string>215513374627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile</string>
	<key>PROJECT_ID</key>
	<string>argos-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>argos-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215513374627:ios:6ce0afe922da98c5810416</string>
	<key>DATABASE_URL</key>
	<string>https://argos-mobile.firebaseio.com</string>
</dict>
</plist>